<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.ormvasm.factei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentSettings"></activity>
        <activity
            android:name=".FragmentAcceuil"
            android:label="@string/title_FragmentAcceuil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModifReleveindex"
            android:label="@string/title_activity_modif_releveindex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListeReleveindex"
            android:label="@string/title_activity_liste_releveindex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaisieReleveindex"
            android:label="@string/title_activity_saisie_releveindex"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>